.fake-box {
    position: relative;
    border: solid 1px black;
    max-width: 20vw;
    height: 30vh;
    margin-left: 10px;
    border-style: double;
    background-clip: border-box;


    
}

.fake-box article {

    margin-left: 10px;
    margin-right: 30px;
}

.fake-box:before, .fake-box:after {
    position: absolute;
}

.fake-box:after {
    left: 20px;
    top: 20px;
}

.info-box {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    border: black solid 1px;
    max-width: 30vw;
    max-height: 30vh;
    box-shadow: 5px 10px #888888;
   
}
