.fake-box article{
    position: relative;
    padding: 30px;
}

.fake-box:before, .fake-box:after {
    position: absolute;
}

.fake-box article:after {
    position: absolute;
    content: "";
    width: 250px;
    height: 240px;
    left: 20px;
    top: 20px;    
    right: 20px;
    bottom: 20px;
    border: 1px solid black;  
}

.box {
    width: 250px;
    height: 240px;
    border: 1px solid black;
    margin: 40px;
    padding: 5px;
    /* horizontal offset, vertical offset, blur radius, spread radius (optional), color */
  }

.container {
    float:left;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    }

.info-box {
    margin: 10px;
    padding: 5px;
    float:left;
    background-color:none;
    width: 300px;
    height: auto;
    box-shadow: 3px 3px 5px black, 15px 15px 8px blue;
    border: grey solid 1px;
    }
/* .info-box2 {
    margin: 10px;
    padding: 5px;
    float:left;
    background-color:none;
    width: 300px;
    height: auto;
    box-shadow: 3px 3px 5px black, 15px 15px 8px blue;
    border: grey solid 1px;
    }
.info-box3 {
    margin: 10px;
    padding: 5px;
    float:left;
    background-color:none;
    width: 300px;
    height: auto;
    box-shadow: 3px 3px 5px black, 15px 15px 8px blue;
    border: grey solid 1px;
    } */